{% extends "release_dashboard/base.html" %}
{% load staticfiles %}
{% block title %}Build release{% endblock %}
{% block navlist %}
    <li><a href="{% url 'release_dashboard:index'%}">Release Dashboard</a></li>
    <li><a href="{% url 'release_dashboard:build_release'%}">Build release</a></li>
{% endblock %}
{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Actions</h3>
        </div>
        <div class="panel-body">
            <form class="form-inline">
                <div class="form-group">
                    <label for="common_select">Common selection</label>
                    <select class="form-control" id="common_select"
                        name="common_select">
                        <option value="ignore">ignore</option>
                    {% for v in common_versions.tags %}
                        <option value="tag/{{ v }}">tag/{{ v }}</option>
                    {% endfor %}
                    {% for v in common_versions.branches %}
                        <option value="branch/{{ v }}">branch/{{ v }}</option>
                    {% endfor %}
                    </select>
                    <span id="select_text_info"></span>
                </div>
                <div class="form-group">
                    <label for="version_release">Release version</label>
                    <input class="form-control" id="version_release"
                        name="version_release" type="text" value="">
                </div>
                <div class="form-group">
                    <label for="distribution">Debian release</label>
                    <select class="form-control" id="distribution"
                        name="distribution">
                    {% for d in debian %}
                        <option value="{{ d }}">{{ d }}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                  <button id="refresh_all">Refresh</button>
                  <span style="display:none" id="refresh_all_error"></span>
                </div>
            </form>
        </div>
    </div>
    <div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Project</th>
                <th>Version</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
      {% for p in projects %}
          <tr class="repo">
            <th><label for="version_{{ p.name }}">{{ p.name }}</label></th>
            <td class="version">
                <select id="version_{{ p.name }}" name="version_{{ p.name }}">
                    <option value="ignore">ignore</option>
                {% for t in p.tags %}
                    <option value="tag/{{ t }}">tag/{{ t }}</option>
                {% endfor %}
                {% for b in p.branches %}
                    <option value="branch/{{ b }}">branch/{{ b }}</option>
                {% endfor %}
                </select>
            </td>
            <td>
              <button id="refresh_{{ p.name }}" class="refresh">Refresh</button>
              <button style="display:none" id="hotfix_{{ p.name }}" class="hotfix">Release Hotfix</button>
            </td>
            <td>
              <span style="display:none" id="refresh_error_{{ p.name }}"></span>
              <span style="display:none" class="hotfix_error" id="hotfix_error_{{ p.name }}"></span>
            </td>
          </tr>
      {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
{% block extrajs %}
<script src="{% static "release_dashboard/js/build.js" %}"></script>
{% endblock %}
