<div class="container">
    <form method="POST" class="form-inline">{% csrf_token %}
    <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">Actions</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
            <label for="common_select">Common selection</label>
            <select class="form-control" id="common_select"
                name="common_select">
                <option value="ignore">ignore</option>
            {% for v in common_versions.branches %}
                <option value="branch/{{ v }}">branch/{{ v }}</option>
            {% endfor %}
            </select>
        </div>
        <button id="main" type="submit" class="btn btn-default">Submit</button>
      </div>
      <div id="select_text_info" class="panel-footer"></div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Data</h3>
      </div>
      <div class="panel-body">
        <table class="table table-condensed">
          <thead>
              <tr>
                  <th class="col-md-2">Project</th>
                  <th class="col-md-2">Version</th>
              </tr>
          </thead>
          <tbody>
        {% for p in projects %}
            <tr class="repo">
              <th class="col-md-2">
                <label for="version_{{ p.name }}">{{ p.name }}</label>
              </th>
              <td class="version col-md-2">
                  <select class="form-control select-version" id="version_{{ p.name }}" name="version_{{ p.name }}"
                  project="{{ p.name }}">
                      <option value="ignore">ignore</option>
                  {% for b in p.branches %}
                      <option value="branch/{{ b }}">branch/{{ b }}</option>
                  {% endfor %}
                  </select>
              </td>
            </tr>
        {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    </form>
</div>
