{% extends "release_dashboard/base.html" %}
{% block title %}Release Dashboard{% endblock %}
{% block navlist %}
    <li><a href="{% url 'release_dashboard:index'%}">Release Dashboard</a></li>
{% endblock %}
{% block content %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Actions</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{% url 'release_dashboard:build_deps'%}">
                    Build release dependences</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'release_dashboard:build_release'%}">
                    Build release</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'release_dashboard:build_release_tag'%}">
                    Build release by tag</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'release_dashboard:build_trunk_deps'%}">
                    Build Trunk release dependences</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'release_dashboard:build_trunk_release'%}">
                    Build Trunk release</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'release_dashboard:hotfix'%}">
                    Hotfixes</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'release_dashboard:refresh_all'%}">
                    Refresh tag/branch Info</a>
                </li>
                <li class="list-group-item">
                    <a href="{% url 'release_dashboard:build_docker_images'%}">
                    Build project docker images</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
