Source: repoapi
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends: debhelper (>= 8~),
               python-dev,
               virtualenv
Standards-Version: 3.9.6
Section: python
Homepage: http://sipwise.com/

Package: repoapi
Section: python
Architecture: all
Depends: make,
         uwsgi,
         virtualenv,
         ${misc:Depends}
Description: repoapi webapp
 This package provides repoapi webapp.
