[Unit]
Description=Celery Beat Service
After=network.target rabbitmq-server.service

[Service]
Type=simple
User=www-data
Group=www-data
Environment=DJANGO_SETTINGS_MODULE=repoapi.settings.prod
PIDFile=/var/lib/repoapi/celery-beat.pid
WorkingDirectory=/usr/share/repoapi
ExecStart=/var/lib/repoapi/venv_prod/bin/celery -A repoapi beat \
		--schedule=/var/lib/repoapi/celery-beat.schedule \
        --pidfile=/var/lib/repoapi/celery-beat.pid --loglevel=INFO

[Install]
WantedBy=multi-user.target
