<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{% static "panel/css/bootstrap.min.css" %}" rel="stylesheet">
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}
    <script src="{% static "panel/js/jquery-2.1.3.js" %}"></script>
    <script src="{% static "panel/js/bootstrap.min.js" %}"></script>
    {% block extrajs %}{% endblock %}
  </body>
</html>
