<div class="panel-heading">
    <span class="panel-title project-name">
      <a class="link" name="" href=""></a>
    </span>
    <div class="pull-right">
      <button class="btn-default btn-info retrigger-project-url hidden">Retrigger</button>
      <a class="badge latest-uuid-url" href="">latest</a>
    </div>
</div>
<div class="panel-body">
    <div class="panel panel-default hidden uuid-clone">
        <div class="panel-heading">
            <div class="panel-title">
              <div class="row">
                <div class="col-md-8">
                  <a class="uuid-name">uuid</a>
                  <span class="label label-primary uuid-latest hidden">Latest</span>
                </div>
                <div class="col-md-4">
                  <span class="text-info uuid-date">date</span>
                  <span class="badge test-info uuid-badge"/>
                </div>
              </div>
            </div>
        </div>
        <div class="panel-body">
            <ul class="list-group list-inline uuid-list">
                <li class="list-group-item hidden job">
                  <a class="link" href="">job</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="panel-footer error"></div>
