{% extends "panel/base.html" %}
{% block title %}{{ project }}{% endblock %}
{% block content %}
<div class="container">
    <h2>
        <a href="{% url 'panel:release-view' release %}">
            Release {{ release }}
        </a>
    </h2>
    <div class="panel panel-default project" id="{{ project }}">
        <div class="panel-heading">
            <h3 class="panel-title">{{ project }}</h3>
        </div>
        <div class="panel-body">
            <div class="panel panel-default hidden uuid-clone">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group list-inline uuid-list">
                        <li class="list-group-item hidden job"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-footer" id="{{ project}}-error"></div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$.project = {uuids: new Set(), failed: false, interval: 5000,};

function get_class_status(base, status) {
    var result = base;
    switch (status) {
      case "SUCCESS":
        result += "success";
        break;
      case "UNSTABLE":
        result += "warning";
        break;
      default:
        result += "danger";
    }
    return result;
}

function set_project_status(project, value) {
  var div_project = $('#' + project);
  var div_uuid = $('.uuid:first', div_project);

  console.debug('set_project_status');

  if (value) {
    var status = value.result;
    div_project.addClass(get_class_status("panel-", status));
  }
  else {
    console.debug('uuid that counts: ' + div_uuid.attr('id'));
    if (div_uuid.hasClass('panel-warning')) {
      div_project.addClass('panel-warning');
    }
    else if (div_uuid.hasClass('panel-danger')) {
      div_project.addClass('panel-danger');
    }
    else if (div_uuid.hasClass('panel-success')) {
      div_project.addClass('panel-success');
    }
  }
}

function set_uuid_status(project, uuid, job, value) {
  var div_uuid = $('#' + project + '-' + uuid);
  var status = value.result;
  var _class = get_class_status("panel-", status);

  switch (status) {
    case "SUCCESS":
    case "UNSTABLE":
      if (job.match(/.+-repos$/)) {
        div_uuid.removeClass('panel-warning panel-danger').addClass(_class);
        console.debug(project + ' uuid: ' + uuid + " OK. done");
      }
      else {
        console.debug(job + ' nothing to do here.');
      }
      break;
    default:
      div_uuid.addClass(_class);
      if(! $.project[uuid].failed) {
        $.project[uuid].failed = true;
        console.debug(project + ' uuid: ' + uuid + ' set failed');
      }
      set_project_status(project, value);
  }
}

function set_job_status(project, uuid, job, value) {
  var id = project + '-' + uuid + '-' + job;
  var div_job = $('#' + id);

  if (value) {
    console.debug(job + ' found');
    div_job.addClass(get_class_status("list-group-item-", value.result));
    div_job.html('<a href="' + value.job_url + value.buildnumber
      + '">' + job + '</a>');
  }
  else {
    console.error(job + ' not found');
    // this should not happend!!
  }
}

function create_new_job(project, uuid, job) {
  var id = project + '-' + uuid;
  var div_job = $('#' + id + '-job').clone().removeClass('hidden');

  div_job.attr('id', id + '-' + job).html(job);
  // put it on the proper place
  div_job.appendTo('#' + id + '-list');
  console.debug('job ' + job + ' created for ' + project + ' uuid: ' + uuid);
}

/**
 * The idea is to have a hidden blocks to clone
 * be sure to create proper ids and remove the classes
 * you use to select them
 */
function create_new_uuid_panel(project, uuid) {
  var id = project + '-' + uuid;
  var div_uuid = $('#' + project +' > .panel-body .uuid-clone').clone();
  div_uuid.removeClass('hidden');
  div_uuid.attr('id', id).removeClass('uuid-clone').addClass('uuid');

  // rest of blocks or classes to select inside this
  $('.uuid-list', div_uuid).attr('id', id + '-list').removeClass('uuid-list');
  $('.job', div_uuid).attr('id', id + '-job').removeClass('job');

  var div_title = $('.panel-heading > .panel-title', div_uuid);
  div_title.html(uuid);

  // put it on the proper place
  div_uuid.appendTo('#' + project + ' > .panel-body');
  console.debug('uuid ' + uuid + ' created for ' + project);
}

function update_job_view(project, uuid, job, data) {
  var value = data.results[0];

  set_job_status(project, uuid, job, value);

  if (data.count != 0) {
    if ($.project[uuid][job].timer) {
      clearInterval($.project[uuid][job].timer);
      console.debug("clearInterval uuid: "+ uuid + ' ' + job);
    }
    set_uuid_status(project, uuid, job, value);
  }
  else {
    console.error(job + ' not found');
    // this should not happend!!
  }
}

function update_job_info(release, project, uuid, job) {

  function successFunc(data, textStatus, jqXHR ) {
    update_job_view(project, uuid, job, data);
  }

  function errorFunc(jqXHR, status, error) {
    $('#' + project + '-error').html(error);
    $.project[uuid][job].failed = true;
  }

  if (! $.project[uuid].failed) {
    if (! $.project[uuid][job].failed ) {
      $.ajax({
        url: '/jenkinsbuildinfo/?format=json&tag=' + uuid
          + '&param_release={{ release}}&projectname=' + job,
        method: 'GET',
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: successFunc,
        error: errorFunc
      });
    }
    else {
      console.debug('uuid: ' + uuid + ' job: ' + job + ' already failed');
    }
  }
  else {
    console.debug(project + ' uuid: ' + uuid + ' already failed');
    clearInterval($.project[uuid][job].timer);
    console.debug("clearInterval uuid:" + uuid + ' ' + job);
    set_project_status(project, {result: "FAILED"});
  }
}

function update_uuid_info(release, project, uuid) {

  function successFunc(data, textStatus, jqXHR ) {
    $(data).each(function() {
      var job = this.projectname;
      $.project[uuid].jobs.add(job);

      if (! $.project[uuid][job]) {
        $.project[uuid][job] = { failed: false, };
        create_new_job(project, uuid, job);
        update_job_info(release, project, uuid, job);
      }

      if (! $.project[uuid][job].failed) {
        if (! $.project[uuid][job].timer) {
          $.project[uuid][job].timer = setInterval(function() {
            update_job_info(release, project, uuid, job); }, $.project.interval);
          console.debug('uuid: ' + uuid +
            ' new job: ' + job +' setInterval ' + $.project.interval);
        }
      }
      else {
        console.debug('uuid: ' + job +' already failed');
      }
    });
  }

  function errorFunc(jqXHR, status, error) {
    $('#' + project + '-error').html(error);
    $.project[uuid].failed = true;
  }

  if (! $.project[uuid].failed) {
    $.ajax({
      url: '/release/{{ release }}/' + project + '/' + uuid + '/?format=json',
      method: 'GET',
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: successFunc,
      error: errorFunc
    });
  }
  else {
    console.debug(project + 'uuid ' + uuid +' already failed');
    clearInterval($.project[uuid].timer);
  }
}

function get_uuids_for_project(release, project) {

  function successFunc(data, textStatus, jqXHR ) {
    $(data).each(function() {
      var uuid = this.tag;
      if (uuid == null) {
        console.warn(project + " skip null uuid");
        return;
      }
      $.project.uuids.add(uuid);
      if (! $.project[uuid] ) {
        $.project[uuid] = { failed: false, jobs: new Set(),};
        create_new_uuid_panel(project, uuid);
        update_uuid_info(release, project, uuid);
      }
      if (! $.project[uuid].failed ) {
        if (! $.project[uuid].timer) {
          $.project[uuid].timer = setInterval(function() {
            update_uuid_info(release, project, uuid); }, $.project.interval);
          console.debug(project + ' new uuid: ' + uuid +
            ' setInterval ' + $.project.interval);
        }
      }
      else {
        console.debug(project + ' uuid: ' + uuid +' already failed');
        clearInterval($.project[uuid].timer);
        console.debug(project + " clearInterval: " + uuid);
        set_project_status(project, {result: "FAILED"});
      }
    });
  }

  function errorFunc(jqXHR, status, error) {
    $('#' + project + '-error').html(error);
    $.project.failed = true;
  }
  $.ajax({
    url: '/release/{{ release }}/' + project + '/?format=json',
    method: 'GET',
    contentType: "application/json; charset=utf-8",
    dataType: "json",
    success: successFunc,
    error: errorFunc
  });
}

$( document ).ready(function() {
  $('.project').each(function(){
    var project = $(this).attr('id');

    $.project.timer = setInterval(function() {
      get_uuids_for_project('{{release}}', project);
    }, $.project.interval);
    console.log(project + ' get uuids setInterval ' + $.project.interval);

    get_uuids_for_project('{{ release }}', project);
  });
});
</script>
{% endblock %}
