{% extends "panel/base.html" %}
{% load jsonify %}
{% load staticfiles %}
{% block title %}{{ project }}{% endblock %}
{% block navlist %}
    <!-- hello -->
    <li><a href="{% url 'panel:release-view' release %}">{{ release }}</a></li>
    <li><a href="{% url 'panel:project-view' release project %}">{{ project }}</a></li>
    <li class="active"><a href="#">{{ uuid }}</a></li>
{% endblock %}
{% block content %}
<div class="container">
    <div class="panel panel-default project-clone hidden">
        {% include "panel/base_project.html" %}
    </div>
    <div id="project-list"></div>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static "panel/js/panel.js" %}"></script>
<script type="text/javascript">
$( document ).ready(function() {
  var values;
  $.panel = 'project_uuid';
  $.release.max_uuids = 1;
  $.release.interval = 15000;
  $.release.timer = setInterval(function(){
    get_uuids_for_project('{{ release }}', '{{ project }}');
  }, $.release.interval);
  create_new_project('{{ release }}', '{{ project }}', false);
  create_new_uuid('{{ release }}', '{{ project }}', {{ latest_uuid|jsonify }});
  {% if latest_uuid.latest %}
  $.release['{{ project }}'].last_uuid = '{{ uuid }}';
  showLatestUUID('{{ project }}', '{{ uuid }}');
  {% endif %}
});
</script>
{% endblock %}
