{% extends "panel/base.html" %}
{% block title %}{{ project }}{% endblock %}
{% block navlist %}
    <!-- hello -->
    <li><a href="{% url 'panel:release-view' release %}">{{ release }}</a></li>
    <li class="active"><a href="#">{{ project }}</a></li>
{% endblock %}
{% block content %}
<div class="container">
    <div class="panel panel-default project-clone hidden">
        {% include "panel/base_project.html" %}
    </div>
    <div id="project-list"></div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$( document ).ready(function() {
  $.release.max_uuids = 2;
  $.release.timer = setInterval(function(){
    get_uuids_for_project('{{release}}', '{{ project }}');
  }, $.release.interval);
  create_new_project('{{ release }}', '{{ project }}');
});
</script>
{% endblock %}
