{% extends "panel/base.html" %}
{% block title %}{{ release }}{% endblock %}
{% block navlist %}
    <li class="active"><a href="#">{{ release }}</a></li>
{% endblock %}
{% block content %}
<div class="container">
    <div class="panel panel-default" id="stats">
      {% include "panel/release_stats.html" %}
    </div>
    <div class="panel panel-default project-clone hidden">
      {% include "panel/base_project.html" %}
    </div>
    <div id="project-list"></div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$( document ).ready(function() {
  $.release.max_uuids = 1;
  $.release.interval = 30000;
  $.release.timer = setInterval(function(){
    update_info('{{release}}');
  }, $.release.interval);
{% for project in projects %}
  create_new_project('{{ release }}', '{{ project.projectname }}');
{% endfor %}
});
</script>
{% endblock %}
