<div class="panel-heading">
  <h3 class="panel-title"><b>{{build_release.release}}</b> <b>{{build_release.uuid}}</b> Details</h3>
</div>
<div class="panel-body">
  <table class="table table-condensed">
    <tr>
      <th>Distribution</th>
      <th>tag</th>
      <th>branch</th>
      <th>started_at</th>
      <th>Action</th>
    </tr>
    <tr class="active">
      <td>{{ build_release.config.debian_release }}</td>
      <td>{{ build_release.tag }}</td>
      <td>{{ build_release.branch }}</td>
      <td>{{ build_release.start_date }}</td>
      <td id="action_list">
        <button type="button" id="resume"
                disabled="disabled"
                onclick="click_resume(event, '{{ build_release.id }}')"
                class="btn btn-primary">Resume</button>
      </td>
      </td>
    </tr>
  </table>
</div>
<div class="panel-footer error" id="release_error"></div>